<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1000000" id="br.com.morettic.petmatch.Adopt" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pet Match</name>
    <description>
        Adote um pet.
    </description>
    <author email="android@morettic.com.br" href="https://morettic.com.br">
        PetMatch - Adote um Pet
    </author>
    <content src="index.html" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <feature name="Device">
        <param name="android-package" value="br.com.morettic.petmatch.Adopt" />
    </feature>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-facebook4" spec="~1.7.4">
        <variable name="APP_ID" value="435098223494007" />
        <variable name="APP_NAME" value="petmatchfinder" />
    </plugin>
</widget>
